.attribution {
	font-size: 11px;
	text-align: center;
	padding: 20px;
}
.attribution a {
	color: var(--light-blue);
	text-decoration: none;
}

.attribution a:hover {
	color: var(--soft-pink);
	text-decoration: none;
}
