:root {
	/* Primary */

	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);

	/* Neutral */

	--dark-gray-magenta: hsl(303, 10%, 53%);
	--light-gray-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);

	/* Attribution */

	--light-blue: hsl(228, 45%, 44%);
}
